dataclasses
filelock
importlib-metadata
regex
tqdm
packaging==21.3
future==0.18.2
six==1.15.0
numpy==1.23.1
pandas==1.1.5
scikit-learn==0.24.0
scipy==1.5.4
tokenizers==0.13.1
torch==1.12.1
transformers==4.23.0
functorch==0.2.1
